RewriteEngine On

RewriteRule "dang-ky" "index.php?url=tao-tai-khoan"
RewriteRule "quen-mat-khau" "index.php?url=quen-mat-khau"
RewriteRule "dang-nhap" "index.php?url=dang-nhap"
RewriteRule "dang-xuat" "index.php?url=dang-xuat"
RewriteRule "bang-dieu-khien" "index.php?url=bang-dieu-khien"
RewriteRule "tai-khoan-dang-mo" "index.php?url=tai-khoan-dang-mo"
RewriteRule "tai-khoan-bi-khoa" "index.php?url=tai-khoan-bi-khoa"
RewriteRule "tai-khoan-bi-xoa" "index.php?url=tai-khoan-bi-xoa"
RewriteRule "thong-tin-tai-khoan" "index.php?url=thong-tin-tai-khoan"
RewriteRule "doi-mat-khau" "index.php?url=doi-mat-khau"
RewriteRule "doi-ten-hien-thi" "index.php?url=doi-ten-hien-thi"
RewriteRule "danh-sach-the-loai" "index.php?url=danh-sach-the-loai"
RewriteRule "them-the-loai" "index.php?url=them-the-loai"
RewriteRule "dang-truyen" "index.php?url=dang-truyen"
RewriteRule "truyen-cua-toi" "index.php?url=truyen-cua-toi"
RewriteRule "tat-ca-truyen" "index.php?url=tat-ca-truyen"
RewriteRule "truyen-moi-tao" "index.php?url=truyen-moi-tao"
RewriteRule "tai-khoan-moi-tao" "index.php?url=tai-khoan-moi-tao"
RewriteRule "truyen-hot" "index.php?url=truyen-hot"
RewriteRule "truyen-dich" "index.php?url=truyen-dich"
RewriteRule "truyen-convert" "index.php?url=truyen-convert"
RewriteRule "truyen-update" "index.php?url=truyen-update"
RewriteRule "tu-sach" "index.php?url=tu-sach"
RewriteRule "tat-ca-the-loai" "index.php?url=tat-ca-the-loai"
RewriteRule "huong-dan" "index.php?url=huong-dan-dang-truyen"
RewriteRule "huong_dan" "index.php?url=huong_dan"
RewriteRule "cai-dat" "index.php?url=cai-dat"
RewriteRule "van-de-phat-sinh" "index.php?url=van-de-phat-sinh"

RewriteRule "^tim-kiem/(.*)$" "index.php?search=$1"
RewriteRule "^the-loai/(.*)$" "index.php?url=the-loai&title=$1"
RewriteRule "^tac-gia/(.*)$" "index.php?url=tac-gia&title=$1"

RewriteRule "^chinh-sua-the-loai/(.*)$" "index.php?url=chinh-sua-the-loai&id=$1"
RewriteRule "^sua-truyen/(.*)$" "index.php?url=sua-truyen&title=$1"
RewriteRule "^chinh-sua-tai-khoan/(.*)$" "index.php?url=chinh-sua-tai-khoan&user=$1"
RewriteRule "^them-chuong/(.*)$" "index.php?url=them-chuong&title=$1"
RewriteRule "^danh-sach-chuong/(.*)$" "index.php?url=danh-sach-chuong&title=$1"
RewriteRule "^sua-chuong/(.*)$" "index.php?url=sua-chuong&id=$1"
RewriteRule "^truyen/(.*).html$" "index.php?url=truyen&title=$1"
RewriteRule "^doc-truyen/(.*)/(.*)-(.*).html$" "index.php?url=doc-truyen&title=$1&title_chuong=$2&id_chuong=$3"

RewriteRule "^chi-tiet-truyen/(.*)$" "index.php?url=chi-tiet-truyen&title=$1"